<table class='course-stats'>
  <tr>
    <td><%= course.credits == 3 ? "Y" : "T" %></td>
	<td><%=course.credits%></td>
  </tr>
  <tr>
    <td colspan='2'><%=course_offering.gradelevels%></td>
  </tr>
</table>
