<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">

				<!-- mp-menu -->
				<nav id="mp-menu" class="mp-menu">
					<div class="mp-level">
						<h2>Program Philosophies</h2>
						<ul>
							<li>
								<a href="#">Middle School</a>
								<div class="mp-level">
									<h2>Middle School</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
										<li>
											<a href="#">Distribution Requirements</a>
											<div class="mp-level">
												<h2>Distribution Requirements</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													<h1>TEST</h1>
												</div>
											</div>
										</li>
										<li>
											<a href="#">English Philosophy</a>
											<div class="mp-level">
												<h2>English Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													The mission of Eastside Preparatory School’s English Discipline 
													is to empower students in self-directed exploration and analysis 
													of literature and writing. In Middle School, students learn to 
													approach writing as a process while acquiring foundational skills 
													in grammar conventions and basic research techniques. Additionally, 
													Middle School students examine and identify different literary genres 
													while learning how to read critically. In Upper School, students continue 
													to build on these skills and processes and begin collegiate-level 
													analysis of literature and writing across disciplines. Eastside Prep 
													students graduate prepared for academic writing and thinking in every 
													aspect of their future education.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-camera" href="#">Fine & Performing Arts Philosophy</a>
											<div class="mp-level">
												<h2>Fine & Performing Arts Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Smart Shot</a></li>
													<li><a href="#">Power Shooter</a></li>
													<li><a href="#">Easy Photo Maker</a></li>
													<li><a href="#">Super Pixel</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">History Philosophy</a>
											<div class="mp-level">
												<h2>History Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Mathematics Philosophy</a>
											<div class="mp-level">
												<h2>Mathematics Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Physical Education Philosophy</a>
											<div class="mp-level">
												<h2>Physical Education Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Science Philosophy</a>
											<div class="mp-level">
												<h2>Science Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Spanish Philosophy</a>
											<div class="mp-level">
												<h2>Spanish Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="icon icon-arrow-left">
								<a class="icon icon-news" href="#">Upper School</a>
								<div class="mp-level">
									<h2 class="icon icon-news">Upper School</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
										<li><a href="#">National Geographic</a></li>
										<li><a href="#">Scientific American</a></li>
										<li><a href="#">The Spectator</a></li>
										<li><a href="#">The Rambler</a></li>
										<li><a href="#">Physics World</a></li>
										<li><a href="#">The New Scientist</a></li>
									</ul>
								</div>
							</li>
						</ul>
							
					</div>
				</nav>
				<!-- /mp-menu -->


		<script src="/assets/classie.js"></script>		
		<script src="/assets/mlpushmenu.js"></script>
