<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">

				<!-- mp-menu -->
				<nav id="mp-menu" class="mp-menu">
					<div class="mp-level">
						<h2>Philosophies & Requirements</h2>
						<ul>
							<li>
								<a href="#">Middle School</a>
								<div class="mp-level">
									<h2>Middle School</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
										<li>
											<a href="#">Philosophy</a>
											<div class="mp-level">
												<h2>Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													Middle School courses are designed to give students opportunities to practice 
													the habits of mind employed in each academic discipline. Critical thinking skills 
													are emphasized. Integration plays an important role in tying ideas together, 
													and teachers collaborate on specific units when it makes sense to do so. Faculty infuse each day in (and
													out of!) the classroom with enthusiasm and hands-on learning.
													</br></br>
													Students arrive in the Middle School as children and leave as young adults, 
													having progressed through profound biological, social, and cognitive changes. 
													Our program is effective because it fosters and supports student growth in 
													language use, problem solving, memory development, ethical maturity, and social presence.
													</br></br>
													Our courses coordinate not only with interdisciplinary content, but also to teach important 
													skills consistently throughout the Middle School experience. Upon completion students are able to:
													</br></br>
														<ul>
															<li>Use the academic disciplines as a framework for critical thinking,</li>
															<li>Solve complex problems within a variety of disciplines and topics,</li>
															<li>Communicate written ideas thoughtfully and creatively,</li>
															<li>Confidently present ideas to large and small audiences,</li>
															<li>Effectively employ technology to enhance learning,</li>
															<li>Lead compassionately as a respectful member of our global community.</li>
														</ul>
														</br></br>
													The ultimate goal of the Middle School Program is to equip students with the necessary 
													academic and social skills for a more robust disciplinary study in the EPS Upper School.  
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">Upper School</a>
								<div class="mp-level">
									<h2>Upper School</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
										<li>
											<a href="#">Philosophy</a>
											<div class="mp-level">
												<h2>Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													As the 'preparatory' part of our name indicates, a central intent of the Upper School experience at EPS is to prepare students for college. 
													This process entails gaining mastery and command in the traditional academic disciplines, while gaining skills to excel in today's competitive 
													institutions of higher education. To this end, Eastside Prep students:
													</br></br>
														<ul>
															<li>Become technologically literate, honing their ability to use 21st century tools effectively in research and presentation of knowledge</li>
															<li>Engage sophisticated, complex coursework as a preparation for the future, wrestling with questions of high complexity</li>
															<li>Integrate thinking from each of their classes, learning to apply knowledge mastered in one field to enhance learning in another</li>
															<li>Practice academic collaboration with teachers, with the expectation that this will be a continued and important part of their college experience</li>
															<li>Navigate a robust collection of course offerings, learning to discern their personal academic interests and choose a relevant path</li>
														</ul>
														</br></br>
													These skills culminate in the 12th grade year, as each senior at Eastside Prep designs, engages, and presents a year-long project reflective of both previous 
													knowledge and new learning experiences from multiple disciplines. In addition, many seniors take the opportunity to construct, propose and complete independent 
													study courses (upon faculty approval): a process which prepares students for their college experience by allowing each to develop a strong idea of both their 
													individual interests and strengths. 
												</div>
											</div>
										</li>
										<li>
											<a href="#">Distribution Requirements</a>
											<div class="mp-level">
												<h2>Distribution Requirements</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													<h1>TEST</h1>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
											<a href="#">English Philosophy</a>
											<div class="mp-level">
												<h2>English Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													The mission of Eastside Preparatory School's English Discipline 
													is to empower students in self-directed exploration and analysis 
													of literature and writing. 
													</br></br>
													In Middle School, students learn to approach writing as a process while 
													acquiring foundational skills 
													in grammar conventions and basic research techniques. Additionally, 
													Middle School students examine and identify different literary genres 
													while learning how to read critically. 
													</br></br>
													In Upper School, students continue 
													to build on these skills and processes and begin collegiate-level 
													analysis of literature and writing across disciplines. Eastside Prep 
													students graduate prepared for academic writing and thinking in every 
													aspect of their future education.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-camera" href="#">Fine & Performing Arts Philosophy</a>
											<div class="mp-level">
												<h2>Fine & Performing Arts Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Smart Shot</a></li>
													<li><a href="#">Power Shooter</a></li>
													<li><a href="#">Easy Photo Maker</a></li>
													<li><a href="#">Super Pixel</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">History Philosophy</a>
											<div class="mp-level">
												<h2>History Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Mathematics Philosophy</a>
											<div class="mp-level">
												<h2>Mathematics Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Physical Education Philosophy</a>
											<div class="mp-level">
												<h2>Physical Education Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Science Philosophy</a>
											<div class="mp-level">
												<h2>Science Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Spanish Philosophy</a>
											<div class="mp-level">
												<h2>Spanish Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li><a href="#">Flat Superscreen</a></li>
													<li><a href="#">Gigantic LED</a></li>
													<li><a href="#">Power Eater</a></li>
													<li><a href="#">3D Experience</a></li>
													<li><a href="#">Classic Comfort</a></li>
												</ul>
											</div>
										</li>
						</ul>
							
					</div>
				</nav>
				<!-- /mp-menu -->


		<script src="/assets/classie.js"></script>		
		<script src="/assets/mlpushmenu.js"></script>
