<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">

				<!-- mp-menu -->
				<nav id="mp-menu" class="mp-menu">
					<div class="mp-level">
						<h2>Philosophies & Requirements</h2>
						<ul>
							<li>
								<a href="#">Middle School</a>
								<div class="mp-level">
									<h2>Middle School</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
										<li>
											<a href="#">Philosophy</a>
											<div class="mp-level">
												<h2>Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													Middle School courses are designed to give students opportunities to practice 
													the habits of mind employed in each academic discipline. Critical thinking skills 
													are emphasized. Integration plays an important role in tying ideas together, 
													and teachers collaborate on specific units when it makes sense to do so. Faculty infuse each day in (and
													out of!) the classroom with enthusiasm and hands-on learning.
													</br></br>
													Students arrive in the Middle School as children and leave as young adults, 
													having progressed through profound biological, social, and cognitive changes. 
													Our program is effective because it fosters and supports student growth in 
													language use, problem solving, memory development, ethical maturity, and social presence.
													</br></br>
													Our courses coordinate not only with interdisciplinary content, but also to teach important 
													skills consistently throughout the Middle School experience. Upon completion students are able to:
													</br></br>
														<ul>
															<li>* Use the academic disciplines as a framework for critical thinking,</li>
															<li>* Solve complex problems within a variety of disciplines and topics,</li>
															<li>* Communicate written ideas thoughtfully and creatively,</li>
															<li>* Confidently present ideas to large and small audiences,</li>
															<li>* Effectively employ technology to enhance learning,</li>
															<li>* Lead compassionately as a respectful member of our global community.</li>
														</ul>
														</br></br>
													The ultimate goal of the Middle School Program is to equip students with the necessary 
													academic and social skills for a more robust disciplinary study in the EPS Upper School.  
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">Upper School</a>
								<div class="mp-level">
									<h2>Upper School</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
										<li>
											<a href="#">Philosophy</a>
											<div class="mp-level">
												<h2>Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													As the 'preparatory' part of our name indicates, a central intent of the Upper School experience at EPS is to prepare students for college. 
													This process entails gaining mastery and command in the traditional academic disciplines, while gaining skills to excel in today's competitive 
													institutions of higher education. To this end, Eastside Prep students:
													</br></br>
														<ul>
															<li>* Become technologically literate, honing their ability to use 21st century tools effectively in research and presentation of knowledge</li>
															<li>* Engage sophisticated, complex coursework as a preparation for the future, wrestling with questions of high complexity</li>
															<li>* Integrate thinking from each of their classes, learning to apply knowledge mastered in one field to enhance learning in another</li>
															<li>* Practice academic collaboration with teachers, with the expectation that this will be a continued and important part of their college experience</li>
															<li>* Navigate a robust collection of course offerings, learning to discern their personal academic interests and choose a relevant path</li>
														</ul>
														</br></br>
													These skills culminate in the 12th grade year, as each senior at Eastside Prep designs, engages, and presents a year-long project reflective of both previous 
													knowledge and new learning experiences from multiple disciplines. In addition, many seniors take the opportunity to construct, propose and complete independent 
													study courses (upon faculty approval): a process which prepares students for their college experience by allowing each to develop a strong idea of both their 
													individual interests and strengths. 
												</div>
											</div>
										</li>
										<li>
											<a href="#">Distribution Requirements</a>
											<div class="mp-level">
												<h2>Distribution Requirements</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													<h1>TEST</h1>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
											<a href="#">English Philosophy</a>
											<div class="mp-level">
												<h2>English Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													The mission of Eastside Preparatory School's English Discipline 
													is to empower students in self-directed exploration and analysis 
													of literature and writing. 
													</br></br>
													<h4>Middle School:</h4> 
													</br>
													Students learn to approach writing as a process while 
													acquiring foundational skills 
													in grammar conventions and basic research techniques. Additionally, 
													Middle School students examine and identify different literary genres 
													while learning how to read critically. 
													</br></br>
													<h4>Upper School:</h4> 
													</br>Students continue 
													to build on these skills and processes and begin collegiate-level 
													analysis of literature and writing across disciplines. Eastside Prep 
													students graduate prepared for academic writing and thinking in every 
													aspect of their future education.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-camera" href="#">Fine & Performing Arts Philosophy</a>
											<div class="mp-level">
												<h2>Fine & Performing Arts Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													Through creative participation in the arts, students develop the 
													skills and the courage to become self-actualized: to be aware of, 
													connected to, and able to attain their goals in an increasingly 
													complex world. 
													</br></br>
													Students are introduced to the disciplines within 
													the arts, such as visual arts, music, theatre, and dance, and taught 
													the tools and concepts underlying each discipline. Above all, the 
													goal of the program is an appreciation of the fine and performing 
													arts that ultimately leads to an awareness of the role art plays 
													in one's life and an understanding of its cultural importance. 
													</br></br>
													In all cases, the way to truly know an art is to do the art.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">History Philosophy</a>
											<div class="mp-level">
												<h2>History Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													At Eastside Preparatory School a foundation of historical, cultural, ideological, 
													and geographical literacy and the ability to think like a social scientist is fostered 
													through a diverse curriculum and progressive pedagogical methods. 
													</br></br>
													A rigorous curriculum 
													employs experiential learning and integrated course work to develop a broad historical 
													perspective and to encourage active and contributing citizenship in a global society. 
													</br></br>
													Coursework focuses on critical analysis, effective written and oral communication, and 
													strong research and study skills.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Mathematics Philosophy</a>
											<div class="mp-level">
												<h2>Mathematics Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													The purpose of the Math Discipline at Eastside Prep is to equip students with 
													the number sense and problem-solving skills required to succeed in advanced 
													work in math and other disciplines, to be discerning consumers of quantitative 
													information, and put these to practical use in their lives. 
													</br></br>
													This is achieved through a combination of direct instruction and hands-on investigation, 
													stressing process and context as much as solution. Understanding
													is assessed through the application of knowledge and skills to a new context, 
													and whenever possible, stress is put on application to the real world.
													</br></br>
													*Prior to enrollment, students are tested and placed at a math level commensurate 
													with their past course experience and current skill level. Placement decisions are 
													based on the placement exam and/or the discretion of the Math Discipline Faculty and 
													the Upper School Head.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Physical Education Philosophy</a>
											<div class="mp-level">
												<h2>Physical Education Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													The mission of the Eastside Prep Physical Education Program is to inspire, 
													prepare, and encourage students to develop a positive attitude toward 
													participation in physical activity and healthy living. 
													</br></br>
													Team-building and development of athletic skills and knowledge encourage 
													participation in lifetime sports and activities. 	
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Science Philosophy</a>
											<div class="mp-level">
												<h2>Science Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													The Science Discipline instills in its students a passion for inquiry 
													and an understanding of science as a process. 
													</br></br>
													The goal is to produce 
													scientifically literate citizens able to understand, appreciate, and 
													analyze new discoveries. 
													</br></br>
													The focus is on the design and implementation 
													of scientific experiments, the scientific approach to problem-solving, 
													and the role of science in society.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Spanish Philosophy</a>
											<div class="mp-level">
												<h2>Spanish Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													All students at Eastside Prep study the Spanish language. Spanish is spoken 
													in more than twenty three countries, is one of the official languages of the 
													United Nations, and is the second most spoken language in the United States.
													</br></br>
													The goals of the Spanish Program at EPS are: (1) to introduce students to a 
													foreign language and help them develop their communicative ability through
													consistent application of the four language skills: listening, speaking, reading, 
													and writing; (2) to prepare students to eventually live, work, or study in a 
													Spanish-speaking environment; (3) to prepare students for placement into university-level 
													Spanish classes; and (4) to develop intercultural awareness by exploring the diversity of 
													the Spanish-speaking world.
													</br></br>
													*At the time of enrollment at EPS, students are placed at a Spanish level commensurate 
													with their past Spanish experience and current skills. Placement decisions are made based 
													on a placement exam and/or at the discretion of the Spanish Faculty and Upper School Head.
												</div>
											</div>
										</li>
						</ul>
							
					</div>
				</nav>
				<!-- /mp-menu -->


		<script src="/assets/classie.js"></script>		
		<script src="/assets/mlpushmenu.js"></script>
