<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">

				<!-- mp-menu -->
				<nav id="mp-menu" class="mp-menu">
					<div class="mp-level">
						<h2>Programs & Requirements</h2>
						<ul class='nobullet'>
							<li>
								<a href="#">Curricular Philosophy</a>
								<div class="mp-level">
												<h2>Curricular Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
                          <h4><a href="/PDFs/EPSCurricularApproach.pdf">EPS Curricular Approach (PDF)</a></h4>
												</div>
								</div>
							</li>
							<li>
								<a href="#">Middle School</a>
								<div class="mp-level">
									<h2>Middle School</h2>
									<a class="mp-back" href="#">back</a>
									<ul class='nobullet'>
										<li>
											<a href="#">Philosophy</a>
											<div class="mp-level">
												<h2>Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													Middle School courses are designed to give students opportunities to practice 
													the habits of mind employed in each academic discipline. Critical thinking skills 
													are emphasized. Integration plays an important role in tying ideas together, 
													and teachers collaborate on specific units when it makes sense to do so. Faculty infuse each day in (and
													out of!) the classroom with enthusiasm and hands-on learning.
													</br></br>
													Students arrive in the Middle School as children and leave as young adults, 
													having progressed through profound biological, social, and cognitive changes. 
													Our program is effective because it fosters and supports student growth in 
													language use, problem solving, memory development, ethical maturity, and social presence.
													</br></br>
													Our courses coordinate not only with interdisciplinary content, but also to teach important 
													skills consistently throughout the Middle School experience. Upon completion students are able to:
													</br></br>
														<ul>
															<li>Use the academic disciplines as a framework for critical thinking,</li>
															<li>Solve complex problems within a variety of disciplines and topics,</li>
															<li>Communicate written ideas thoughtfully and creatively,</li>
															<li>Confidently present ideas to large and small audiences,</li>
															<li>Effectively employ technology to enhance learning,</li>
															<li>Lead compassionately as a respectful member of our global community.</li>
														</ul>
														</br></br>
													The ultimate goal of the Middle School Program is to equip students with the necessary 
													academic and social skills for a more robust disciplinary study in the EPS Upper School.
														</br></br>
														Where appropriate, coursework is guided by  grade-specific Big Questions. 
														<ul>
															<li>Grade 5:    Who Am I?</li>
															<li>Grade 6:    What Is The World Made Of?</li>
															<li>Grade 7:    How Did We Get Here?</li>
															<li>Grade 8:    What Does It Mean To Be Human?</li>
														</ul>

												</div>
											</div>
										</li>
										<li>
											<a href="#">Course Requirements</a>
											<div class="mp-level">
												<h2>Course Requirements</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
												<ul>
													<li>Arts (9 trimesters)</li></br>
														- Grade 5: 3 trimesters</br>
														- Grade 6: 2 trimesters</br>
														- Grade 7: 2 trimesters</br>
														- Grade 8: 2 trimesters</br>
														
														<p>Students entering EPS for 5th and 6th grade will take a minimum of two Visual Arts, 
														two Theatre, and two Music courses over their MS career. Students entering as 7th graders 
														must take one course from each Fine & Performing Arts area. Students entering as 8th graders 
														must take one course from two different areas (e.g. one course from Visual Arts and one course 
														from Theatre).</p>
														</br>
													<li>English (4 years)</li>
														- 4 Year-long courses taken grades 5-8</br></br>
														
													<li>Environmental Practices (3 trimesters)</li>
														- Grade 6: 1 trimester</br>
														- Grade 7: 1 trimester</br>
														- Grade 8: 1 trimester</br></br>
														
													<li>History (4 years)</li>
														- 4 Year-long courses taken grades 5-8</br></br>
														
													<li>Technological Literacy (2 trimesters)</li>
														- Grade 7: 1 trimester</br>
														- Grade 8: 1 trimester</br></br>
														
													<li>Spanish (4 years)</li>
														- 4 Year-long courses taken grades 5-8</br></br>
														
													<li>Math (4 years)</li>
														- 4 Year-long courses taken grades 5-8</br></br>
														
													<li>Physical Education (9 trimesters)</li>
														- Grade 5: Year-long</br>
														- Grade 6: 2 trimesters<</br>
														- Grade 7: 2 trimesters</br>
														- Grade 8: 2 trimesters</br>
														
														<p><u>Participation in Sports</u></p>
														Participating on an EPS sports team satisfies the PE requirement for the term that the team is competing.</br></br>
														A student in the process of earning credit for participation on an EPS sports team is required to be enrolled in 6 academic courses during that term.</br></br>
														A maximum of 3 credits can be earned through substantive participation on an EPS sports team (approval by Athletic Director)</br></br>
														The PE distribution requirement can be reduced by a maximum 2 course credits through substantive participation in a sport not offered at EPS.</br></br>
														Students must submit a written application (obtained through the Athletic Director) for this waiver.</br></br>
														Approved waivers for non-EPS sports will not apply where a student has already earned 3 credits for participation on EPS sports teams.</br></br>
														</br>
													<li>Science (4 years)</li>
														- 4 Year-long courses taken grades 5-8</br>
													
												</ul>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">Upper School</a>
								<div class="mp-level">
									<h2>Upper School</h2>
									<a class="mp-back" href="#">back</a>
									<ul class="nobullet">
										<li>
											<a href="#">Philosophy</a>
											<div class="mp-level">
												<h2>Philosophy</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													As the 'preparatory' part of our name indicates, a central intent of the Upper School experience at EPS is to prepare students for college. 
													This process entails gaining mastery and command in the traditional academic disciplines, while gaining skills to excel in today's competitive 
													institutions of higher education. To this end, Eastside Prep students:
													</br></br>
														<ul>
															<li>Become technologically literate, honing their ability to use 21st century tools effectively in research and presentation of knowledge</li>
															<li>Engage sophisticated, complex coursework as a preparation for the future, wrestling with questions of high complexity</li>
															<li>Integrate thinking from each of their classes, learning to apply knowledge mastered in one field to enhance learning in another</li>
															<li>Practice academic collaboration with teachers, with the expectation that this will be a continued and important part of their college experience</li>
															<li>Navigate a robust collection of course offerings, learning to discern their personal academic interests and choose a relevant path</li>
														</ul>
														</br></br>
													These skills culminate in the 12th grade year, as each senior at Eastside Prep designs, engages, and presents a year-long project reflective of both previous 
													knowledge and new learning experiences from multiple disciplines. In addition, many seniors take the opportunity to construct, propose and complete independent 
													study courses (upon faculty approval): a process which prepares students for their college experience by allowing each to develop a strong idea of both their 
													individual interests and strengths. 
												</div>
											</div>
										</li>
										<li>
											<a href="#">Graduation Requirements</a>
											<div class="mp-level">
												<h2>Graduation Requirements</h2>
												<a class="mp-back" href="#">back</a>
												<ul>
													<li>Arts</li>
														<p><u>Through Class of 2015</u>
																- 6 trimester courses must be taken in grades 9 to12.</p>
														<p><u>Class of 2016 and After</u>
																- 5 trimester courses must be taken in grades 9 to12.</p>
														<p><u>Participation in EPS Theatre Productions</u></p>
															A maximum of 3 credits can be earned through substantive participation in EPS theatre productions (approval by F&PA Director)</br></br>
															*Students in the process of earning credit for an EPS theatrical production are required to be enrolled in 6 academic courses during that term.
															</br></br>		
													<li>English (4 years)</li>
														- 12 trimester courses taken one per trimester grades 9 to 12</br></br>
														
													<li>History (3 years)</li>
														- 9 trimester credits required in grades 9 to 11</br></br>
														
													<li>Spanish (3 years or completion through Spanish 4)</li>
														- 9 trimester credits (unless fewer are required to complete Spanish 4)</br></br>
														
													<li>Math (3 years)</li>
														- Required in grades 9 to 11</br></br>
														
													<li>Physical Education</li>
														<p><u>Through Class of 2015</u>
																- 6 trimester courses must be taken in grades 9 to12. PE Wellness must be one of these credits.</p>
														<p><u>Class of 2016 and After</u>
																- 5 trimester courses must be taken in grades 9 to12. PE Wellness must be one of these credits.</p>
														<p><u>Participation in Sports</p></u>
															A student participating on an EPS sports team may not be enrolled in an EPS PE course in that term.</br></br>
															A maximum of 3 credits can be earned through substantive participation on an EPS sports team (approval by Athletic Director)</br></br>
															Students in the process of earning credit for participation on an EPS sports team are required to be enrolled in 6 academic courses during that term.</br></br>
															The PE distribution requirement can be reduced by a maximum 2 credits through substantive participation in a sport not offered at EPS.</br></br>   
															Students must submit a written application (obtained through the Athletic Director) for this waiver.</br></br> 
															Approved waivers for non-EPS sports will not apply where a student has already earned 3 credits for participation on EPS sports teams.
															</br></br>
													<li>Science (3 years)</li>
														- Required in grades 9 to 11</br></br>
														
													<li>Senior Project (1 trimester)</li>
														- Required for all seniors</br></br>
														
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
											<a href="#">English</a>
											<div class="mp-level">
												<h2>English</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													<b>MS Course Requirement (4 years)</b><br>4 Year-long courses taken grades 5-8</br></br>
													<b>US Graduation Requirement (4 years)</b><br>12 trimester courses taken, one per trimester in grades 9-12
													</br></br>
													The mission of Eastside Preparatory School's English Discipline is to empower students in 
													self-directed exploration and analysis of literature and writing. While in in the Middle School, 
													students learn to approach writing as a process while acquiring foundational skills in grammar 
													conventions and basic research techniques. Additionally, they examine and identify different 
													literary genres while learning how to read critically. In the Upper School, students continue 
													to build on these skills and processes and begin collegiate-level analysis of literature and 
													writing across disciplines. Eastside Prep students graduate prepared for academic writing and 
													thinking in every aspect of their future education.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-camera" href="#">Fine & Performing Arts</a>
											<div class="mp-level">
												<h2>Fine & Performing Arts</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													<b>MS Course Requirement (9 trimesters)</b>
														<ul class="nobullet">
															<li>Grade 5: 3 trimesters</li>
															<li>Grade 6: 2 trimesters</li>
															<li>Grade 7: 2 trimesters</li>
															<li>Grade 8: 2 trimesters</li>
														</ul>
													<b>US Graduation Requirement (2 years)</b></br>6 trimester courses must be taken in grades 9-12
													</br></br>
													Through creative participation in the arts, students develop the 
													skills and the courage to become self-actualized: to be aware of, 
													connected to, and able to attain their goals in an increasingly 
													complex world. 
													</br></br>
													Students are introduced to the disciplines within 
													the arts, such as visual arts, music, theatre, and dance, and taught 
													the tools and concepts underlying each discipline. Above all, the 
													goal of the program is an appreciation of the fine and performing 
													arts that ultimately leads to an awareness of the role art plays 
													in one's life and an understanding of its cultural importance. 
													</br></br>
													In all cases, the way to truly know an art is to do the art.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">History</a>
											<div class="mp-level">
												<h2>History</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													<b>MS Course Requirement (4 years)</b><br>4 Year-long courses taken grades 5-8</br></br>
													<b>US Graduation Requirement (3 years)</b><br>9 trimester credits required in grades 9-11
													</br></br>
													At Eastside Preparatory School a foundation of historical, cultural, ideological, 
													and geographical literacy and the ability to think like a social scientist is fostered 
													through a diverse curriculum and progressive pedagogical methods. 
													</br></br>
													A rigorous curriculum 
													employs experiential learning and integrated course work to develop a broad historical 
													perspective and to encourage active and contributing citizenship in a global society. 
													</br></br>
													Coursework focuses on critical analysis, effective written and oral communication, and 
													strong research and study skills.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Mathematics</a>
											<div class="mp-level">
												<h2>Mathematics</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
												<b>MS Course Requirement (4 years)</b></br>4 Year-long courses taken grades 5-8</br></br>
												<b>US Graduation Requirement (3 years)</b></br>Required in grades 9-11
													</br></br>
													The purpose of the Math Discipline at Eastside Prep is to equip students with 
													the number sense and problem-solving skills required to succeed in advanced 
													work in math and other disciplines, to be discerning consumers of quantitative 
													information, and put these to practical use in their lives. 
													</br></br>
													This is achieved through a combination of direct instruction and hands-on investigation, 
													stressing process and context as much as solution. Understanding
													is assessed through the application of knowledge and skills to a new context, 
													and whenever possible, stress is put on application to the real world.
													</br></br>
													*Prior to enrollment, students are tested and placed at a math level commensurate 
													with their past course experience and current skill level. Placement decisions are 
													based on the placement exam and/or the discretion of the Math Discipline Faculty and 
													the Upper School Head.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Physical Education</a>
											<div class="mp-level">
												<h2>Physical Education</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
													<b>MS Course Requirement (9 trimesters)</b>
														<ul class="nobullet">
															<li>Grade 5: Year-long</li>
															<li>Grade 6: 2 trimesters</li>
															<li>Grade 7: 2 trimesters</li>
															<li>Grade 8: 2 trimesters</li>
														</ul>
													<b>US Graduation Requirements (2 years)</b></br> -6 trimester courses must be taken in grades 9-12. PE Wellness must be one of these credits.
													</br></br>
													The mission of the Eastside Prep Physical Education Program is to inspire, 
													prepare, and encourage students to develop a positive attitude toward 
													participation in physical activity and healthy living. 
													</br></br>
													Team-building and development of athletic skills and knowledge encourage 
													participation in lifetime sports and activities. 	
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Science</a>
											<div class="mp-level">
												<h2>Science</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
												<b>MS Course Requirement (4 years)</b></br>4 Year-long courses taken grades 5-8</br></br>
												<b>US Graduation Requirement (3 years)</b></br>Required in grades 9-11
													</br></br>
													The Science Discipline instills in its students a passion for inquiry 
													and an understanding of science as a process. 
													</br></br>
													The goal is to produce 
													scientifically literate citizens able to understand, appreciate, and 
													analyze new discoveries. 
													</br></br>
													The focus is on the design and implementation 
													of scientific experiments, the scientific approach to problem-solving, 
													and the role of science in society.
												</div>
											</div>
										</li>
										<li class="icon icon-arrow-left">
											<a class="icon icon-tv" href="#">Spanish</a>
											<div class="mp-level">
												<h2>Spanish</h2>
												<a class="mp-back" href="#">back</a>
												<div class="menu-text">
												<b>MS Course Requirement (4 years)</b></br>4 Year-long courses taken grades 5-8</br></br>
												<b>US Graduation Requirement (3 years or completion of Spanish 4)</b></br>9 trimester credits (unless fewer are required to complete Spanish 4)
													</br></br>
													All students at Eastside Prep study the Spanish language. Spanish is spoken 
													in more than twenty three countries, is one of the official languages of the 
													United Nations, and is the second most spoken language in the United States.
													</br></br>
													The goals of the Spanish Program at EPS are: (1) to introduce students to a 
													foreign language and help them develop their communicative ability through
													consistent application of the four language skills: listening, speaking, reading, 
													and writing; (2) to prepare students to eventually live, work, or study in a 
													Spanish-speaking environment; (3) to prepare students for placement into university-level 
													Spanish classes; and (4) to develop intercultural awareness by exploring the diversity of 
													the Spanish-speaking world.
													</br></br>
													*At the time of enrollment at EPS, students are placed at a Spanish level commensurate 
													with their past Spanish experience and current skills. Placement decisions are made based 
													on a placement exam and/or at the discretion of the Spanish Faculty and Upper School Head.
												</div>
											</div>
										</li>
							<li>
								<a href="#">Technology</a>
								<div class="mp-level">
									<h2>Technology</h2>
									<a class="mp-back" href="#">back</a>
										<ul class='nobullet'>
											<li>
												<a href="#">Program</a>
												<div class="mp-level">
													<h2>Program</h2>
													<a class="mp-back" href="#">back</a>
													<div class="menu-text">
													While we have dedicated classes in technology, these tools and ideas are also infused throughout Eastside Prep's curriculum whether it is 
													  using tools like spreadsheets to analyze science or pulling in disparate resources and visualizations over the web. We aim to walk the
													  fine line between jumping on the bandwagon of various trends and doing things the way we did them last year.
																				</br></br>
													  Across courses, we also utilize technology to assist students, teachers and parents in managing the vast amounts of educational data that
													  flows throughout a term. Primarily this occurs through the learning management system, canvas, with a number of Eastside Prep specific 
													  customizations that work to get information distributed effectively.
												</div>
								</div>
											</li>
											<li>
												<a href="#">Coursework</a>
												<div class="mp-level">
													<h2>Coursework</h2>
													<a class="mp-back" href="#">back</a>
													Technology is a placeholder word for tools which society is adopting. Currently that includes computers, 3D printers, video editing 
													and countless other ideas and tools. Eastside Prep strives to offer students experiences with the current state of the art in technology 
													whether that is the, now, traditional courses of programming, web design or video editing (housed under the Fine and Performing Arts Tab) 
													or newer offerings such as the concrete Physical Meets Digital or more abstract Evolution of Society.

												</div>
											</li>
										</ul>
							</li>
                    <li>
											<a class="icon icon-tv" href="#">Education Beyond the Classroom (EBC)</a>
											<div class="mp-level">
												<h2>Experiential Program</h2>
												<a class="mp-back" href="#">back</a>
												<ul class='nobullet'>
													<li>
														<a href="#">Philosophy</a>
														<div class="mp-level">
															<h2>Philosophy</h2>
															<a class="mp-back" href="#">back</a>
															<div class="menu-text">
															At EPS, we believe learning occurs when carefully chosen experiences are used intentionally to promote 
															character development, personal growth, and positive change. The foundation of our Experiential Education 
															program includes leadership training, outdoor education, Service Learning, and local and international travel.
                              <br>
                              *Each of these activities is an essential and required part of the EPS program for Middle and Upper School students
															</div>
														</div>
													</li>
													<li>
														<a href="#">Fall Overnights</a>
														<div class="mp-level">
															<h2>Fall Overnights</h2>
															<a class="mp-back" href="#">back</a>
															<div class="menu-text">
															Class orientation trips happen at the beginning of each school year. Each grade level visits a different site, 
															where students spend two days and one night with their classmates and teachers. Establishing a sense of 
															community and setting the tone for the upcoming school year are the primary objectives. During these two 
															days, students are engaged in a variety of activities and discussions as well as teambuilding projects.  
															Destinations range from the 5th grade outing to Nature's bridge to the Senior white water rafting trip along 
															the Tieton River and everywhere in between.
															</div>
														</div>
													</li>
													<li>
														<a href="#">Advisory Service Experiences</a>
														<div class="mp-level">
															<h2>Advisory Service Experiences</h2>
															<a class="mp-back" href="#">back</a>
															<div class="menu-text">
															In pursuit of the EPS vision of "inspiring students to create a better world," students engage a service 
															learning curriculum and activities on and off the EPS campus in which they practice making a difference 
															today, while simultaneously preparing themselves for future endeavors. Serving in this way, students learn 
															both the importance and necessity of civic engagement. Some organizations that we have worked with in the 
															past include Operation Sack Lunch, Northwest Harvest and Earth Corps.
															</div>
														</div>
													</li>
													<li>
														<a href="#">EBC Week</a>
														<div class="mp-level">
															<h2>EBC Week</h2>
															<a class="mp-back" href="#">back</a>
															<div class="menu-text">
															EBC week provides students an opportunity to engage in education beyond the classroom. For a week each 
															spring, students select an experience suited to their personal interests and passions and engage with 
															other students and faculty members in a new and often challenging setting. This experience allows students 
															an opportunity to learn in their "growth zone"; the "learning space" where experiential education succeeds 
															most effectively. Experiences include local opportunities like our Make@EPS fabrication program, and offsite 
															excursions to locations like Washington D.C. and Costa Rica.
															</div>
														</div>
													</li>
													<li>
														<a href="#">EPSummer</a>
														<div class="mp-level">
															<h2>EPSummer</h2>
															<a class="mp-back" href="#">back</a>
															<div class="menu-text">
															Experiential Learning is further enhanced by our optional EPSummer program for rising 5-12th grade students 
															from both EPS and greater Seattle-area community. Offerings and programs vary from year to year. Past options 
															have included creative writing, photography, Lego animation and off-campus international travel opportunities 
															to destinations like Ireland, Cambodia and Costa Rica. Each experience reflects and supports the mission of 
															Eastside Prep.
															</div>
														</div>
													</li>
								
												</ul>
											</div>
					
					</li>
	  					</ul>
						</ul>
						</ul>
							
					</div>
				</nav>
				<!-- /mp-menu -->


