<div id='course-catalog'>
  <ul id="course-grid" class="course-grid">
    <% @courses.each do |course_offering| %>
      <li>
        <%= render course_offering %>
      </li>
    <% end %>
</div>

<script>
    $(function() {
        Grid.init();
    });
</script>
