<a href="javascript(void);"
   id='course_<%=course.id%>'
   class='course dept-<%=course.department_id%>'
>
  <div class='course-tile'>
    <%= render partial: "course_tile", locals: {course:course} %>
  </div>
  <div class='course-card' style="display:none">
    <%= render partial: "course_card", locals: {course: course} %>
  </div>
</a>
