<p id="notice"><%= notice %></p>

<%=render partial: "catalog/course_card", locals: {course: @course_offering.course, course_offering: @course_offering}%>

<%= link_to 'Edit', edit_course_offering_path(@course_offering) %> |
<%= link_to 'Back', course_offerings_path %>
