<%dept_card = !@course_offering.department_card_id.nil?%>
<div class="mdc-card edit-title-card">
  <section class="mdc-card__primary">
    <div style="padding: 0 10px;">
        <div class="mdc-layout-grid" style="margin:0px; padding:0px;">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
              <h1 class="mdc-card__title mdc-card__title--large">Course Card Preivew</h1>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" style="text-align:right;">
              <h2 class="mdc-card__subtitle"><%= link_to '<button type="button" class="mdc-button mdc-button--raised mdc-button--compact">Edit</button>'.html_safe, edit_course_offering_path(@course_offering) %> <%= link_to '<button class="mdc-button mdc-button--raised mdc-button--compact">Back</button>'.html_safe, course_offerings_path %></h2>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>

<div class="mdc-layout-grid"><!--<div id='course-catalog'>-->
  <div class="mdc-layout-grid__inner">
    <% if dept_card %>
      <%= render partial: "catalog/department", locals: {department: Department.find(@course_offering.department_card_id), department_card: @course_offering }%>
    <% else %>
      <%= render partial: "courses/course", locals: {course: @course_offering.course }%>
    <% end %>
  </div>
</div>
