// Place all the styles related to the catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* General Demo Style */
/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

body {
background-color: #eaeaea;
background-image:url('linen.png');
font-family:'Lato',Calibri,Arial,sans-serif;
}

*,*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.og-grid li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

.og-details {
  width:80%;
  margin-right:auto;
  margin-left:auto;
  text-align:left;
  padding: 0 20px 0 20px;
  border:1px dashed #333;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.og-details h3 {
  font-weight: 300;
  font-size: 52px;
  padding: 40px 0 10px;
  margin-bottom: 10px;
}

.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.og-details a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

.og-details a:hover {
  border-color: #999;
  color: #999;
}

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

  .og-expander h3 { font-size: 32px; }
  .og-expander p { font-size: 13px; }
  .og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

  .og-fullimg { display: none; }
  .og-details { float: none; width: 100%; }

}
.course {
}

a.course .course-tile {
    background-color:#eeeeee;
    width:200px;
    height:200px;
    border-radius:0px 15px 0px 15px;
    box-shadow: 3px 3px 2px #444444;
    margin:15px;
    padding:15px;
    display:inline-block;
    vertical-align:top;
}
a.dept-1 div.course-tile{
  background-color: #fefefe;
}
a.dept-2 div.course-tile{
  background-color: #fefefe;
}
a.dept-3 div.course-tile{
  background-color: #fefefe;
}
a.dept-4 div.course-tile{
  background-color: #fefefe;
}
a.dept-5 div.course-tile{
  background-color: #fefefe;
}
a.dept-6 div.course-tile{
  background-color: #fefefe;

}
a.dept-7 div.course-tile{
  background-color: #fefefe;
}
a.dept-8 div.course-tile{
  background-color: #fefefe;
}
.course-card {
//  border: 1px solid black;
//  border-radius: 5px 5px 5px 0px;
//  background-color:"#eeeeee";
}
//
.course-card-header {

}

.course-card-stats {

}

.course-title {

}

.course-name {

}

.course-prereqs {

}

.course-description {

}

ul.inline li {display:inline-block;cursor:pointer;}

.tiletitle {
color: #333333;
font-weight: 700;
font-size: 1.3em;
}

.tileimg {
padding-bottom: 20px;
}

#filters {
margin-left: auto;
margin-right: auto;
width: 70%;
padding-top: 30px;
font-size: 1.2em;
}