.og-details {
    border: none;
	border-radius:10px;
    min-width:750px;
	background-color: #fefefe;
	padding:5px;
}
.og-expander {
    background-color: #fefefe;
}

.og-grid li.og-expanded > a::after {
	border-bottom-color: #fefefe;
}

.course-title{
    color:black;
	min-height:90px;
    vertical-align:top;
}

.course-title .course-name{
    height:50px;
    padding-top:10px;
}

.course-title .course-prereqs {
    vertical-align:bottom;
    text-align:center;
    background-color:gray;
    padding-left:10px;
	margin-top:20px;
    color:white;
    padding-bottom:2px;
}

.course-card-header {
  text-align:center;
}

.course-card-stats {
  width:70px;
  float:right;
  height:75px;
  line-height:10px;
  display:inline-block;
}
table.course-stats {
  display:inline-table;
  float:right;
  width:60px;
  height:50px;
}

table.course-stats td{
    text-align:center;
    font-family:'Lato',Calibri,Arial,sans-serif;
	font-weight:bold;
	font-size:0.75em;
    color:white;
    width:35px;
    background-color: #002b61;
    border:1px solid #002b61;
    border-radius:40px;
    padding:5px;
    border-style:none;
}

.course-tile-stats table.course-stats td {
  padding:2px;
  margin:1px;
}
.tileimg {
  float:left;
}
.tiletitle {
  clear:both;
  padding-top:10px;
}

.course-card-header .course-info {
  float:right;
}
.course-card-header .course-title{
  width:100%;
  min-height:90px;
  display:inline-block;
}

.course-card-header .course-title .course-name {
  font-weight:bold;
  min-height:55px;
}
span.big-name{
  font-size:1.5em;
  padding-left:5px;
  padding-right:5px;
  color: #002b61;
}
/*.course-description {
  color:black;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  padding-top: 15px;
}
.course-description p {
  max-height:240px;
  overflow:auto;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom: 20px;
  padding-right: 20px;
}*/

.course-prereqs.dept-1 {background-color:#c50702;}
.course-prereqs.dept-2 {background-color:#9ec3df;}
.course-prereqs.dept-3 {background-color:#444444;}
.course-prereqs.dept-4 {background-color:#a2ad00;}
.course-prereqs.dept-5 {background-color:#f0b300;}
.course-prereqs.dept-6 {background-color:#7a6691;}
.course-prereqs.dept-7 {background-color:#eb7125;}
.course-prereqs.dept-8 {background-color:#808080;}
.course-prereqs.dept-10 {background-color:black;}
.course-prereqs.dept-11 {background-color:#a45d0e;}

// Cards //
.mdc-card__media {
  // background-image: url("maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  padding: 0px;
}
.card__dialog {
  height: 200px;
}

.mdc-card__primary, .mdc-card__actions {
  background: rgba(0, 0, 0, .6);
}
.mdc-card__actions{
  border-bottom: 2px gray solid;
  padding: 8px 16px;
}
.dep-term-grid {
  padding: 0px;
  width: 100%
}
.mdc-card__primary:last-child {
  padding-bottom: 16px;
}
.mdc-card__title--large {
  font-size: 20px;
  line-height: 20px;
}
.mdc-card__primary .mdc-card__title--large {
  padding-top: 0px;
}
.mdc-dialog__header__title {
  font-size: 24px;
}
.course-prereqs {
  font-size: 20px;
  padding:5px;
  text-align: center
}
.course-description {
  font-size: 18px;
}
.mdc-button:not(:disabled) {
  color: #ffffff;
  background-color: #111111;
}
.mdc-dialog-scroll-lock {
  overflow: auto;
}