<!DOCTYPE html>
<html class="mdc-theme--dark">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
  <link rel="stylesheet"
          href="assets/material-components-web/dist/material-components-web.css">
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='mdc-typogrpahy'>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div id='logo'>
  <div class="mdc-layout-grid" style="margin:0px; padding:0px;">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h1 style="color:#fff; font-size:32px; font-family: 'Cinzel', serif; font-weight:normal; letter-spacing:.5px; margin:0px;" >COURSES @ EASTSIDE PREP</h1>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" style="text-align:right;">
        <h3 style="color:#fff; font-family: 'Cinzel', serif; font-weight:normal; letter-spacing:.5px; margin:0px;"><a style="color:white; text-decoration:none;" href="http://www.eastsideprep.org">Eastsideprep.org</a></h3>
      </div>
    </div>
</div>
</nav>
<div id='container'>
    <%= yield %>
</div>
    <script src="assets/material-components-web/dist/material-components-web.js"></script>
    <script>mdc.autoInit()</script>
</body>
</html>
